/*
linear.css by Ivan Stanton
A minimalistic CSS base for various projects. Built on horizontal "segments" themed with "flairs."
To the maximum extent I can possibly allow you to by applicable law, you may do whatever you want with this file.
*/
.special-button {
/*Deprecated, avoid using*/
border-radius: 2px;
background-color: inherit;
padding-left: 14pt;
padding-right: 14pt;
font-family: inherit;
color: inherit;
margin: 0 0 0 0;
display: initial;
}
.segment-grid-double {
max-width: 100%;
display: grid;
grid-template-columns: 50% 50%;
}
.segment-grid-triple {
max-width: 100%;
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
.segment-grid-triple-bigright {
max-width: 100%;
display: grid;
grid-template-columns: 33.33% 66.67%;
grid-template-columns: calc(100% / 3) calc(100% * 2 / 3);
}
.segment-grid-triple-bigleft {
max-width: 100%;
display: grid;
grid-template-columns: 66.67% 33.33%;
grid-template-columns: calc(100% * 2 / 3) calc(100% / 3);
}
.segment-grid-quad-1-3 {
max-width: 100%;
display: grid;
grid-template-columns: 25% 75%;
}
.segment-grid-quad-1-2-1 {
max-width: 100%;
display: grid;
grid-template-columns: 25% 50% 25%;
}
.segment-grid-quad-3-1 {
max-width: 100%;
display: grid;
grid-template-columns: 75% 25%;
}
.segment-grid-quad-2-1-1 {
max-width: 100%;
display: grid;
grid-template-columns: 50% 25% 25%;
}
.segment-grid-quad-1-1-2 {
max-width: 100%;
display: grid;
grid-template-columns: 25% 25% 50%;
}
.segment-grid-quad {
max-width: 100%;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}
.segment-head {
max-width: 100%;
padding-left: 40pt;
padding-right: 40pt;
text-align: center;
padding-top: 20pt;
padding-bottom: 20pt;
}
.segment-head a {
text-decoration: none;
}
.segment-text {
max-width: 100%;
padding-left: 40pt;
padding-right: 40pt;
padding-top: 20pt;
padding-bottom: 20pt;
display: block;
}
.segment-mini {
max-width: 100%;
padding-left: 40pt;
padding-right: 40pt;
padding-bottom: 10pt;
padding-top: 10pt;
}
.segment-nav {
display: block;
text-align: center;
margin: 0 0 0 0;
width: 100%;
white-space: wrap;
}
.segment-nav ul {
list-style-type: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
text-align: center;
width: 100%;
font-size: 0;
}
.segment-nav li {
list-style-type: none;
width: 25%;
overflow-x: hidden;
display: inline-block;
padding-top: 10pt;
padding-bottom: 10pt;
text-align: center;
margin: 0 0 0 0;
padding-left: 0;
padding-right: 0;
font-size: 0.8rem;
}
.segment-nav li:nth-child(4n+1):nth-last-child(1), .segment-nav li:nth-child(4n+1):nth-last-child(1) ~ li{
min-width: 100%
}
.segment-nav li:nth-child(4n+1):nth-last-child(2), .segment-nav li:nth-child(4n+1):nth-last-child(2) ~ li{
width: 50%;
}
.segment-nav li:nth-child(4n+1):nth-last-child(3), .segment-nav li:nth-child(4n+1):nth-last-child(3) ~ li{
width: 33.333%;
width: calc(100%/3);
}
.segment-nav a {
color: inherit;
text-decoration:none;
}
.segment-nav-thirds {
display: block;
text-align: center;
margin: 0 0 0 0;
width: 100%;
white-space: wrap;
}
.segment-nav-thirds ul {
list-style-type: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
text-align: center;
width: 100%;
font-size: 0;
}
.segment-nav-thirds li {
list-style-type: none;
width: 33.333%;
width: calc (100% / 3);
overflow-x: hidden;
display: inline-block;
padding-top: 10pt;
padding-bottom: 10pt;
text-align: center;
margin: 0 0 0 0;
padding-left: 0;
padding-right: 0;
font-size: 0.8rem;
}
.segment-nav-thirds li:nth-child(3n+1):nth-last-child(1), .segment-nav-thirds li:nth-child(3n+1):nth-last-child(1) ~ li{
width: 100%;
}
.segment-nav-thirds li:nth-child(3n+1):nth-last-child(2), .segment-nav-thirds li:nth-child(3n+1):nth-last-child(2) ~ li{
width: 50%;
}
.segment-nav-thirds a {
color: inherit;
text-decoration:none;
}
.segment-nav-halves {
display: block;
text-align: center;
margin: 0 0 0 0;
width: 100%;
white-space: wrap;
}
.segment-nav-halves ul {
list-style-type: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
text-align: center;
width: 100%;
font-size: 0;
}
.segment-nav-halves li {
list-style-type: none;
width: 50%;
overflow-x: hidden;
display: inline-block;
padding-top: 10pt;
padding-bottom: 10pt;
text-align: center;
margin: 0 0 0 0;
padding-left: 0;
padding-right: 0;
font-size: 0.8rem;
}
.segment-nav-halves li:nth-child(2n+1):nth-last-child(1), .segment-nav-halves li:nth-child(2n+1):nth-last-child(1) ~ li{
width: 100%;
}
.segment-nav-halves a {
color: inherit;
text-decoration:none;
}
.segment-nav-category {
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:100%;
display: block;
position: relative;
}
.segment-nav-category span {
min-width: 100%;
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
}
.segment-image {
height: 36em;
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:100%;
text-size-adjust: 150%;
display: block;
position: relative;
}
.segment-image > *{
text-size-adjust: 250%;
min-width: 100%;
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
}
.flair-text {
background-color: #fff;
color: #000;
}
.flair-text pre, input {
background-color: #eee;
}
.flair-info {
background-color: #18f;
color: #fff;
}
.flair-info pre, input, .special-button {
background-color: #17e;
}
.flair-success {
background-color: #0d6;
color: #fff;
}
.flair-success pre, input, .special-button {
background-color: #0c5;
}
.flair-warning {
background-color: #f40;
color: #fff;
}
.flair-warning pre, input, .special-button {
background-color: #e30;
}
.flair-nav {
background-color: #000;
color: #fff;
text-transform: uppercase;
font-weight: 600;
}
.flair-nav li {
font-size: 1rem;
}
.flair-nav.segment-nav li:hover, .flair-nav.segment-nav-thirds li:hover, .flair-nav.segment-nav-halves li:hover  {
background-color: #505050;
}
.flair-nav.segment-nav-category {
background-color: #202020;
}
.flair-title{
background-color: #000;
color: #fff;
font-family: Comfortaa, Montserrat, sans-serif;
font-size: 5em;
text-align: center;
}
.flair-minititle {
font-family: Comfortaa, Montserrat, sans-serif;
position: fixed;
}
.flair-black {
background-color: #000;
color: #fff;
}
.flair-black.segment-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.mod-center {
text-align: center;
}
.mod-vertical-center {
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
}
.mod-24em {
height: 24em;
}
.mod-pos-relative {
position: relative;
}
.linear {
font-family: Noto Sans, Verdana, sans-serif;
font-size: 1em;
}
.linear h1, h2, h3, h4, h5, h6{
text-transform: uppercase;
}
.linear h1 {
font-size: 3em;
}
.linear h2 {
font-size: 2.25em;
}
.linear h3 {
font-size:1.75em;
}
.linear h4 {
font-size: 1.5em;
}
.linear h5 {
font-size: 1.25em;
}
.linear h6 {
font-weight: 700;
font-size: 1em;
}
.linear button {
font-size: 1em;
}
.linear pre {
width: 100%;
overflow-x: auto;
padding-top: 10pt;
padding-bottom: 10pt;
}
body.linear {
margin: 0 0 0 0;
text-size-adjust: 250%;
}
.linear li {
margin: 0 0 0 0;
}
@media only screen and (min-width: 480px), (orientation: landscape) {
body {text-size-adjust: 100%;}
.segment-image {text-size-adjust: 100%;}
.segment-image * {text-size-adjust: 100%;}
}